# ==================== SERVER ====================
APP_NAME="RapidAPI POC"
HOST=0.0.0.0
PORT=8000
ENVIRONMENT=development
LOG_LEVEL=INFO

# ==================== CORS ====================
FRONTEND_URL=http://localhost:3000

# ==================== RAPIDAPI ====================
RAPIDAPI_KEY=
RAPIDAPI_HOST=auto-parts-catalog.p.rapidapi.com
RAPIDAPI_BASE_URL=https://auto-parts-catalog.p.rapidapi.com

DEFAULT_LANG_ID=4
DEFAULT_COUNTRY_ID=63
DEFAULT_TYPE_ID=1
